<ion-view view-title="Scanner">

	<script id="contact-modal.html" type="text/ng-template">
      <div class="modal">
        <ion-header-bar>
          <h1 class="title">Edit Contact</h1>
        </ion-header-bar>
        <ion-content>
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Student ID:</span>
              <input type="text" ng-model="student.id">
            </label>
          </div>
          <button class="button button-full button-energized" ng-click="closeModal()">Done</button>
        </ion-content>
      </div>
    </script>

  <ion-content>
	<div class = "row row-center">
		<div class = "col  text-center">
			<button class="button button-stable" ng-click = "scanBarcode()">
			  Scan
			</button>
			<button class="button button-stable" ng-click = "openModal()">
			  Add ID
			</button>
		</div>
	</div>

	<div class = "row row-center" ng-if = "isAdd == true">
		<div class = "col  text-center">
			<div class="card">
			  <label class="item ">
			    <div class="input-label">
			      Student ID : {{std_id}}
			    </div>
			  </label>
			  <label class="item item-input item-select">
			    <div class="input-label">
			      Activities : 
			    </div>
			    <select ng-model ="data.activitiesSelected" >
			      <option ng-repeat="item in activitylist" value="{{item.id}}">{{item.activity}}</option>
			    </select>
			  </label>
			</div>
			<button class="button button-stable" ng-click="add()">
			  Insert
			</button>
			<button class="button button-stable" ng-click="discard()">
			  Discard
			</button>
		</div>
	</div>

  </ion-content>
</ion-view>
