<ion-view view-title="Account">
  <ion-content>
  	<div class = "row">
	    <div class="list col col-50 col-offset-25">
			  <label class="item item-input item-select">
			    <div class="input-label">
			      Activities : 
			    </div>
			    <select>
			      <option>Blue</option>
			      <option selected>Green</option>
			      <option>Red</option>
			    </select>
			  </label>
		</div>
	</div>

	<div class = "row row-center">
		<div class = "col  text-center">
			<button class="button button-stable">
			  Export
			</button>
		</div>
	</div>

  </ion-content>
</ion-view>
